<h1>Hello!</h1>
<p>Welcome to the kube.</p>
<p>This app was deployed by creating a combo of Kubernetes Deployment, Service and a GCE Ingress that supports TLS and uses the cert from the ./ssl-cert folder
<p>This is a newer version (v9) of this app deployed via the kubectl 'set image' command to demo rolling updates</p>
